.btn {
    padding: 10px;
    font-family: 'Open Sans';
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: rgb(34, 170, 159);
    font-size: 15px;

    &:hover {
        cursor: pointer;
    }
}